@using mvc3.Models.ViewModel
@Html.Partial("Header");

<div class="our-team-area">
    <h2 class="section-title">OUR WRITER</h2>
    <div class="container">
        <div class="row">
            <div class="team-list indicator-style">
                <div class="col-md-3">
                    <div class="single-team-member">
                        <a href="#">
                            <img src="img/about/team/1.jpg" alt="">
                        </a>
                        <div class="member-info">
                            <a href="#">rokan tech</a>
                            <p>WRITER</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="single-team-member">
                        <a href="#">
                            <img src="img/about/team/2.jpg" alt="">
                        </a>
                        <div class="member-info">
                            <a href="#">mirinda</a>
                            <p>AUTHOR</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="single-team-member">
                        <a href="#">
                            <img src="img/about/team/3.jpg" alt="">
                        </a>
                        <div class="member-info">
                            <a href="#">jone doe</a>
                            <p>WRITER</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="single-team-member">
                        <a href="#">
                            <img src="img/about/team/4.jpg" alt="">
                        </a>
                        <div class="member-info">
                            <a href="#">nick kon</a>
                            <p>WRITER</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="single-team-member">
                        <a href="#">
                            <img src="img/about/team/2.jpg" alt="">
                        </a>
                        <div class="member-info">
                            <a href="#">mirinda</a>
                            <p>AUTHOR</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="single-team-member">
                        <a href="#">
                            <img src="img/about/team/1.jpg" alt="">
                        </a>
                        <div class="member-info">
                            <a href="#">rokan tech</a>
                            <p>WRITER</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Shop Area Start -->
<div class="shopping-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="shop-widget">
                    <div class="shop-widget-top">
                        <aside class="widget widget-categories">
                            <h2 class="sidebar-title text-center">KATEGORİ</h2>
                            @{ Html.RenderAction("PartialCategory"); }

                        </aside>
                        <aside class="widget shop-filter">
                            <h2 class="sidebar-title text-center">FİYAT ARALIĞI</h2>
                            @{ Html.RenderAction("PartialPrice"); }

                        </aside>
                    </div>
                    <div class="shop-widget-bottom">
                        <aside class="widget widget-tag">
                            <h2 class="sidebar-title">POPULAR TAG</h2>
                            <ul class="tag-list">
                                <li>
                                    <a href="#">e-book</a>
                                </li>
                                <li>
                                    <a href="#">writer</a>
                                </li>
                                <li>
                                    <a href="#">book’s</a>
                                </li>
                                <li>
                                    <a href="#">eassy</a>
                                </li>
                                <li>
                                    <a href="#">nice</a>
                                </li>
                                <li>
                                    <a href="#">author</a>
                                </li>
                            </ul>
                        </aside>
                        <aside class="widget widget-seller">
                            <h2 class="sidebar-title">TOP SELLERS</h2>
                            <div class="single-seller">
                                <div class="seller-img">
                                    <img src="img/shop/1.jpg" alt="" />
                                </div>
                                <div class="seller-details">
                                    <a href="shop.html"><h5>Cold mountain</h5></a>
                                    <h5>$ 50.00</h5>
                                    <ul>
                                        <li><i class="fa fa-star icolor"></i></li>
                                        <li><i class="fa fa-star icolor"></i></li>
                                        <li><i class="fa fa-star icolor"></i></li>
                                        <li><i class="fa fa-star icolor"></i></li>
                                        <li><i class="fa fa-star icolor"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="single-seller">
                                <div class="seller-img">
                                    <img src="img/shop/2.jpg" alt="" />
                                </div>
                                <div class="seller-details">
                                    <a href=""><h5>The historian</h5></a>
                                    <h5>$ 50.00</h5>
                                    <ul>
                                        <li><i class="fa fa-star icolor"></i></li>
                                        <li><i class="fa fa-star icolor"></i></li>
                                        <li><i class="fa fa-star icolor"></i></li>
                                        <li><i class="fa fa-star icolor"></i></li>
                                        <li><i class="fa fa-star icolor"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-sm-9 col-xs-12">
                @RenderBody()
            </div>
        </div>
    </div>
</div>
<!-- Shop Area End -->
@Html.Partial("Footer");